*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    background: #ece5dd;
}

header {
    height: 130px;
    width: 100%;
    background: #128c7e;
}

.container {
    max-width: 80%;
    height: 95vh;
    margin: -100px auto;
    background: #fff;

    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.363);
}