*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    background: #dddbd1;
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}

header {
    height: 130px;
    width: 100%;
    background: #128c7e;
}

.container {
    max-width: 73%;
    height: 95vh;
    margin: -110px auto;
    background: #fff;

    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.096);

    display: grid;
    grid-template-columns: 1.3fr 3fr;
}

.top {
    width: 100%;
    background: #ededed;
    padding: 10px;
}

.container .left {
    border-right: 1px solid  rgba(0, 0, 0, 0.096);
}

.container .left .top{
    display: flex;
    justify-content: space-between;
}

.container .left .top img{
    width: 40px;
    height: 40px;

    border-radius: 50px;
}

.container .left .top .icons{
    width: 150px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .left .top .icons img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.container .left .search {
    padding: 7px 15px;
    background: #f6f6f6;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.096);  
}

.container .left .search .searchGroup {
    background: #fff;
    padding: 0 10px;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container .left .search input{
    width: 100%;
    border: 0;
    height: 40px;
    padding: 10px;

    margin-left: 20px;
}

.container .left .search input::placeholder{
  color: #919191;
}

.container .right {    
    background-color: #f8f9fa;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.container .right::after {    
    content: '';
    width: 100%;
    height: 10px;
    background:#4adf83;

    position: absolute;
    bottom: 0;
}

.container .right .contant {
    max-width: 50%;
    
    text-align: center;
}

.container .right .contant h1 {
    margin-top: 38px;

    color: #525252;
    font-weight: 300;
    font-size: 36px;

    line-height: 30px;
}

.container .right .contant p {
    margin: 40px;

    color: #919191;
    font-size: 13px;

    line-height: 20px;

    display: flex;
    justify-content: center;
}

.container .right .contant a {
    text-decoration: none;
    color: #07bc4c;

    margin-left: 5px;

    font-weight: 500;
}

hr {
    background: rgba(0, 0, 0, 0.096);
}

.icon {
    margin-right: 10px;
}


#chatList {
    width: 100%;
    display: flex; 
    
    padding: 10px 0 0 10px;
    cursor: pointer;
}

#chatList:hover {
    background-color: #f8f9fa;
}
#chatList .avatar {
    margin-right: 20px;
}

#chatList .avatar img {
    width: 50px;
    height: 50px;

    border-radius: 50px;
}

#chatList .label {
    width: 100%;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.096);
    display: flex; 
    justify-content: space-between;

    padding: 0 20px 20px 0px;
}

#chatList .label .name_chat h2{
    font-size: 18px;
    font-weight: 400;
}

#chatList .label .name_chat .chatText {
    display: flex;
    align-items: center;
}

#chatList .label .name_chat .chatText p{
    font-size: 13px;
    color: #919191;    
}

#chatList .label .name_chat .chatText img {
    margin-right: 5px;
}

#chatList .label .hour {
    font-size: 13px;
    color: #919191;
}